@font-face {
    font-family: 'Avenir Next World Demi';
    src:
        url('fonts/AvenirNextWorld-Demi.woff2') format('woff2'),
        url('fonts/AvenirNextWorld-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
