.question {
    font-size: 26px;
    line-height: 1.3;
}

.answer {
    font-size: 18px;
    line-height: 1.5;
}

#qr-code {
    max-height: 130px;
    width: auto;
}

#notes {
    width: 100%;
    max-width: 55rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-shadow: 1px 1px 2px #000;
}

#qr-code {
    max-width: 200px;
    height: auto;
}
